\#*\#
*~
*.o
*.gir
*.typelib
*.so
test-compositor
test-client
test-client-2
xdg-shell-protocol.c
xdg-shell-server-protocol.h
.deps/
.libs/
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
config.status
configure
libtool
*.la
*.lo
m4
stamp-h1
